:root{
--color-shopnoworderbtn: #B47B48;
--color-white: #FFFFFF;
--color-buybtn: #C85312;
--color-grey: #B4B4B4;
--color-heropie: #EBAD51;
--color-heroblack: #272727;
--color-menublack: #202023;
--color-whygrey: #D9D9D9;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    color: #FFFFFF;
    max-width: auto;
}

body{
    font-family: 'Inter';
}

.quality-title{
    font-family: 'Italiana';
}
.why-bakery-title{
    font-family: 'Italiana';
}
.where{
    font-family: 'Italiana';

}
header .container {
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}
.nav-list{
display: flex;
text-align: left;
gap: 25px;
margin: 55px auto 0px 0px;
list-style: none;

}
.nav-item{
font-size: 24px;
font-weight: 200;
letter-spacing: 1px;
text-decoration: none;
color: inherit;
}
header h1{
font-size: 64px;
font-weight: 200;
letter-spacing: 3px;
text-transform: uppercase;
line-height: 1.1;
margin: 71px auto 22px 0px;
}
.hero-text{
     font-family: 'Inter';
font-size: 21px;
margin: 22px auto 33px 0px;
font-weight: 300;

}
.hero-button{
    font-size: 24px;
font-weight: 300;
margin: 49px auto 0px 0px;
padding: 16px 34px 7px 34px;
background-color: var(--color-shopnoworderbtn);
color: #FFFFFF;
border-radius: 17px;
border: none;
}
.products-list {
display: flex;
justify-content: space-between;
gap: 10px;
list-style: none;
margin-top: 132px;
margin-left: 0px;
}

.product-card {
    display: flex;
background:
        linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
        var(--color-heroblack);
width: 310px;
height: 225px;
margin-left: 0px;
margin-bottom: 36px;



}
.product-card:hover {
   background-color: var(--color-heropie);
}
.product-card3:hover {
    background-color: var(--color-heropie);
}
header {
        position: relative;
        background-image:
            
            url(../img/background-1.png);
        background-size: cover;
        background-position: center;
        color: var(--text_color);



}

.menu-title{
    text-align: center;
font-size: 64px;
font-weight: 100;
margin-bottom: 18px;
}
header {
    overflow: hidden;
}
.product-card-aside{
display: flex;
flex-direction: column;
}
.product-card-price{
    font-size: 24px;
    font-weight: 200;
    margin: 51px 19px 13px 26px;
}
.product-card-title{
    font-size: 16px;
    font-weight: 500;
  
}
.product-card-btn1{
    background-color: var(--color-buybtn);
    width: 79px;
    height: 34px;
    font-size: 16px;
    font-weight: 900;
    border: 0px;
    color: #FFFFFF;
    margin-right: 32px;
    margin-left: 39px;
    margin-top: 35px;
    margin-bottom: 44px;
}
.product-card-btn2{
    background-color: var(--color-buybtn);
    width: 79px;
    height: 34px;
    font-size: 16px;
    font-weight: 900;
    border: 0px;
    color: #FFFFFF;
   padding: 10px 22px 5px 22px;
   margin-top: 34px;
}
.product-card-btn3{
    background-color: var(--color-buybtn);
    width: 79px;
    height: 34px;
    font-size: 16px;
    font-weight: 900;
    border: 0px;
    color: #FFFFFF;
margin-left: 30px;
margin-top: 10px;
}
.product-card-price2{
    font-size: 24px;
        font-weight: 200;
        margin: 51px 0px 0px 15px;
}
.product-card-title2{
    font-size: 16px;
    font-weight: 500;
margin-bottom: 34px;
margin-right: 6px;

}


.product-card-price3{
    font-size: 24px;
    font-weight: 200;
    width: 173px;
    height: 58px;
    margin-top: 25px;
    margin-bottom: 13px;

}
.product-card-title3{
    font-size: 16px;
    font-weight: 500;
    margin-top: 13px;
margin-right: 9px;
margin-bottom: 29px;

}
.product-card-btn3{
    background-color: var(--color-buybtn);
    width: 79px;
    height: 34px;
    font-size: 16px;
    font-weight: 900;
    border: 0px;
    color: #FFFFFF;
    
}
.product-card3{
    display: flex;
    flex-direction: row;
    background-color: var(--color-heroblack);
   /* width */
    height: 225px;
}
.menu{
background-color: var(--color-menublack);
padding: 21px 0px 90px;
}
   
    
    
.menu-item-btn{
    width: 160px;
    height: 41px;
    border-radius: 17px;
font-size: 26px;
font-weight: 800;
background-color: var(--color-shopnoworderbtn);
border: 0px;
color: #FFFFFF;
padding: 3px 43px 7px 43px;
margin-top: 9px;
    margin-left: 195px;
    margin-bottom: 7px;
}
.menu-item-title{
font-size: 26px;
font-weight: 800;
display: flex;
    justify-content: center;
    margin-top: 197px;
}
.border-menu-item{
    border: #FFFFFF solid 1px;
width: 310px;
position: relative;
    height: 230px;
}


.menu-item{
justify-items: center;
}
.menu-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    list-style: none;
    padding: 0;
  
}
.menu-item-image{
    padding: 14px 14px 0px 8px;
}

.nav-item a{
text-decoration: none;
color: #FFFFFF;

}
.hero {
    max-width: 600px;
    margin-top: 0px;
}
header {
    position: relative;
    background-image:
         
        url(../img/background-1.png);
    background-size: cover;
    background-position: center;
    color: var(--color-white);

    min-height: 100vh;
   
}
header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    min-height: 100vh;
}


.hero-text {
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 30px;
}
header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
 
    min-height: 100vh;
}
header {
    position: relative;
    background-image:
       
        url(../img/background-1.png);
    background-size: cover;
    background-position: center;
    color: var(--color-white);

    min-height: 100vh;
   
}
header h1 {
    font-size: 64px;
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-text {
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 0px;
}

ol{
background-color: var(--color-grey);
width: 198px;
padding: 32px 4px 50px 20px;

}
.quality-list {
display: flex;
list-style: none;
justify-content: center;
}
.quality-item3 {
padding-top: 123px;
margin-left: 90px;
}
.quality-item2 {
padding-top: 84px;


}
.why-bakery-item-title2 {
    padding-left: 37px;

}
.quality-title {
max-width: 600px;
    font-size: 64px;
    font-weight: 400;
    padding-top: 90px;
    text-align: center;
    margin-left: 650px;
}

.quality {
    min-height: 853px;
    background-color: var(--color-menublack);
    background-image: linear-gradient(45deg, rgba(32, 32, 35, 0.9), rgba(32, 32, 35, 0.1)),
        url(../img/background-2.png),
        url(../img/background-2.png),
        url(../img/background-2.png);
    background-position:
        0 0,
        -423px 211px,
        180px 211px,
        793px 211px;

    background-repeat: no-repeat;

    
    padding-top: 0px;
}
.why-bakery{
background: linear-gradient(to right, rgba(0, 0, 0, 1.2), rgba(0, 0, 0, 0)),
url(../img/background-3.jpg);
position: relative;
background-repeat: no-repeat;
background-size: cover;

}
.why-bakery-title{
font-size: 48px;
font-weight: 400;
padding-top: 55px;
margin-left: 165px;

}
.why-bakery-list{
display: flex;
list-style: none;
padding-top: 132px;
font-size: 24px;
font-weight: 700;
}
.why-bakery-item1{

margin-right: 172px;
margin-bottom: 57px;
padding-left: 252px;

}
.why-bakery-item2{
margin-right: 183px;
}
.where-how{
background-color: var(--color-menublack);

}
.where-how-list{
display: flex;
list-style: none;

}
.where{
font-size: 48px;
font-weight: 400;
margin: 66px auto 44px 161px;
}

.how{
margin-top: 180px;
font-size: 40px;
font-weight: 400;
margin-bottom: 49px;
}
.where-how-text1{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 65px;
    text-decoration: none;
    color: #FFFFFF;
}
.where-how-text2{
    font-size: 24px;
    font-weight: 300;
   
}
.where-how-text3{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 250px;
text-decoration: none;
    color: #FFFFFF;
}
.when {
font-size: 40px;
font-weight: 400;
margin-top: 185px;
}
.where-how-text4 {
font-size: 24px;
font-weight: 200;
margin-top: 40px;
}
.whero-how-item2 {
    margin-left: 54px;
}
footer{
    background-color: #202023;
}
.footer-list {
    list-style: none;
    display: flex;
    margin-bottom: 85px;
}

.footer-title {
font-size: 40px;
font-weight: 200;
margin-top: 62px;
margin-right: 77px;
margin-bottom: 16px;
}
.footer-text1{
    font-size: 20px;
    font-weight: 300;
color: #FFFFFF;
text-decoration: none;
}
.footer-text2{
    font-size: 24px;
    font-weight: 300;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 40px;
    margin-right: 216px;
    margin-bottom: 41px;
}
.footer-text3 {
    font-size: 24px;
    font-weight: 300;
    color: #FFFFFF;
    text-decoration: none;

}
.footer-text4 {
    font-size: 24px;
    font-weight: 300;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-text5 {
    font-size: 24px;
    font-weight: 300;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-text6 {
    font-size: 24px;
    font-weight: 300;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 40px;
    margin-right: 155px;
    margin-bottom: 41px;
}
.footer-text7 {
    font-size: 24px;
    font-weight: 300;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-text8 {
    font-size: 24px;
    font-weight: 300;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-text9 {
    font-size: 24px;
    font-weight: 300;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 41px;
}
.footer-text10 {
    font-size: 24px;
    font-weight: 300;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-text11 {
    font-size: 24px;
    font-weight: 300;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-item{
display: flex;
flex-direction: column;

}
.rights{
display: flex;
justify-content: center;
text-decoration: none;
font-size: 20px;
font-weight: 100;
color: #FFFFFF;
padding-bottom: 44px;
}
.footer-text12{
font-size: 24px;
    font-weight: 300;
    color: #FFFFFF;
    text-decoration: none;
}
.menu-item-image{
    position: absolute;
        bottom: 30px;
    
}
.menu-item-image1 {
    position: absolute;
    bottom: 90px;
    left: 90px;
}
.menu-item-image2 {
position: absolute;
top: 23px;

}
.menu-item-image3 {
position: absolute;
top: 72px;
left: 150px;
}
.menu-item-image4 {
    position: absolute;
    width: 230px;
    bottom: 15px;
    left: 30px;
}
.menu-item-image5 {
position: absolute;
width: 80px;
top: 80px;
left: 40px;
}
.menu-item-image6 {
    position: absolute;
  left: 50px;
  width: 189px;
  z-index: 1;
}
.menu-item-image7 {
    position: absolute;
z-index: 2;
width: 141px;
left: 24px;
top: 68px;
}
iframe {
    width: 535px;
height: 487px;
margin-left: 161px;
margin-right: 132px;
margin-bottom: 50px;
}